#patterns
#file/directory     user
# Order is important. The last matching pattern has the most precedence.

#sf comp review
force-app/*         @rishibagekar

#yml script review
*.yaml,.yml         @rishibagekar
